<h2>Membres</h2>

<table class="table">
	<tr>
		<th>Username</th>
		<th>Email</th>
		<th>Actions</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.username %></td>
		<td><%= user.email %></td>
		<td><%= link_to "Devien Pickup", user_make_pickup_path(user), method: :put, class: "btn btn-default btn-md" if not user.pickup and user != current_user %> 
			<%= link_to "Devien Guildé", user_make_guildmate_path(user), method: :put, class: "btn btn-default btn-md" if user.pickup and user != current_user%> 
			<%= link_to "Devien admin", user_promote_admin_path(user), method: :put, class: "btn btn-default btn-md" if not user.is_admin%> <%= link_to "Devien utilisateur", user_demote_admin_path(user) , method: :put, class: "btn btn-default btn-md" if user.is_admin and user != current_user %>&nbsp;<%= link_to "Supprimer", user_delete_path(user),method: :delete, data: { confirm: 'Etes vous sure ?' } , class: "btn btn-default btn-md"  if user != current_user  %> <%= "Ne peux rien faire sur soit même" if current_user == user %></td>
	</tr>
	<% end %>
</table>