<h1>Listing event_templates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Players required</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_templates.each do |event_template| %>
      <tr>
        <td><%= event_template.name %></td>
        <td><%= event_template.description %></td>
        <td><%= event_template.players_required %></td>
        <td><%= link_to 'Show', event_template %></td>
        <td><%= link_to 'Edit', edit_event_template_path(event_template) %></td>
        <td><%= link_to 'Destroy', event_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event template', new_event_template_path %>
