<% unless  not user_signed_in? or current_user.participate?(event) or not event.subscription_opened?  %>

    <li class="list-group-item form-inputs clearfix">
      <% pp = Participating.new %>
      <% pp.available = false %>
      <% pp.character = current_user.characters.first %>
      <% pp.role = event.roles.first %>
      <% pp.comment = "" %>
      <!--<%= simple_form_for(pp, html: {class: "form-inline "}) do |f| %>
      <%= f.input :role_id, as: :hidden%>
      <%= f.input :character_id, as: :hidden%>
      <%= f.input :available, as: :hidden%>
      
        <div class="pull-right">
          &nbsp;<%= f.button :submit, "Non Dispo", "data-classe"=>"NonDispo" %>          
        </div>
      <%end%>-->

    <%= simple_form_for(Participating.new, html: {class: "form-inline "}) do |f| %>
      <%= f.error_notification %>

      <div class="pull-right">
        <%= f.button :submit, "Valider", "data-classe"=>"ValidDispo" %>
        
      </div>
      <%= f.input :role_id, collection: event.roles, label_method: :name, value_method: :id, :include_blank => false, label: "Role" %>
      <%= f.input :character_id, collection: current_user.characters, label_method: :name, value_method: :id, :include_blank => false, label: "Personnage"%>
      <%= f.input :comment, label: "Commentaire" %>
      <%= f.input :available, label: "Disponible ?" %>

    </li>

  <% end %>
<% end %>
