<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading clearfix event-header">
      <div class="pull-right text-right">
        <span class="badge "><%= @event.actual_players%>&nbsp;<i class="fa fa-user"></i></span> / <span class="badge "><%= @event.players_required %>&nbsp;<i class="fa fa-users"></i></span><br/>
        <span class="badge palier-<%= @event.tier || 1 %>"><i class="fa fa-bar-chart-o"></i>&nbsp;Palier <%= @event.tier || 1 %></span>&nbsp; 
        <% @event.users.each do |user|%><span class="badge leaders"><i class="fa fa-star"></i>&nbsp;&nbsp;<%=user.username%></span>&nbsp;<%end%>
      </div>

      <div >
        <h3 class="panel-title"><%= @event.name%></h3>
        <small>
          <i class="glyphicon glyphicon-time"></i>&nbsp;<%= l @event.start_time, :format => :short %>
        </small>    
      </div>
  </div>
  <% unless @event.description.empty? %>
  <div class="panel-body">
    <%= markdown(@event.description) %>
  </div>
  <%end%>
    <ul class="list-group">
      <%= render "participation", :event => @event %>
      <%= render "pickup", :event => @event %>
      <%= render "force_invite", :event => @event %>
    </ul>
        

  <div class="panel-group" id="accordion">
  <% @event.roles.each do |role| %>
      <div class="panel panel-default">
        <div class="panel-heading event-subheader clearfix" data-classe="RoleBesoin">
          <div class="pull-right">
            <small><span class="badge "><%= role.actual_players_count%>&nbsp;<i class="fa fa-user"></i></span> 
            / <span class="badge "><%= role.required_players %>&nbsp;<i class="fa fa-users"></i></span></small>
          </div>
          <h5><%=role.name%></h5>
        </div>
        
          <% unless role.comment.empty? %>
        <div class="panel-body">
            <%= role.comment %>
        </div>
          <% end %>
        <ul class="list-group">
 
          <% role.participating.each do |pp| %>
               <li class="list-group-item">
                  <div class="clearfix" <% unless pp.available? %>data-classe="ListIndispo"<%end%> >
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse<%=pp.id%>" class="clearfix panel-title">
                      <div class="pull-right">
                        <%= link_to raw("<i  style=\"color:darkred\"  class=\"fa fa-times-circle\"></i>"), pp, method: :delete if user_signed_in? and (current_user.lead?(@event) or (pp.pickup.nil? and pp.character.user == current_user))%>&nbsp;&nbsp;<i class="fa fa-caret-square-o-down"></i>
                      </div>
                      <%= pp.name %>&nbsp;                      
                      <span class="badge" data-classe="<%= pp.classe %>"><%= pp.classe %></span>&nbsp;
                      <% unless pp.pickup.nil? %><span class="badge" data-classe="Pickup">Pickup</span>&nbsp;<%end%>
                      <% unless pp.available? %><span class="badge" data-classe="Indisponible">Indisponible</span>&nbsp;<%end%>
                      <% unless pp.comment.nil? or pp.comment.empty? %><small><i class="fa fa-comment"></i>&nbsp;&nbsp;<%= pp.comment %></small><%end%>
                      
                    </h4>
                </div>
                <% if pp.pickup.nil? %>
                  <div id="collapse<%=pp.id%>" class="collapse out">
                    <div class="panel-body">
                      <i class="fa fa-beer"></i>&nbsp;<% pp.character.character_specialisations.each do |cs| %><span class="badge"><%= cs.role_type.name %>&nbsp;:&nbsp;<small><%= cs.comment%></small></span>&nbsp;<%end%>
                    </div>
                  </div>
                <% end %>
            </li>
          <% end %>
          </ul>
      </div>
  <% end %> 
  </div>
</div>

<%= link_to 'Modifier', edit_event_path(@event) , class: "btn btn-default btn-md" if user_signed_in? and current_user.lead?(@event)%>
