<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @character.user_id %>
</p>

<p>
  <strong>Ordered:</strong>
  <%= @character.ordered %>
</p>

<p>
  <strong>Class:</strong>
  <%= @character.classe %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @character.comment %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
